body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
.title {
    text-align: center;
    margin-top: 20px;
    color: #c71f00;
}
#titrejs {
    color:blue;
    font-size: 2rem;
}

/* @glowriousmou */