* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    height: 100vh;
    background-image: url('../assets/images/bgImg.jpg');
    background-size: cover;
    background-position: center;
}
.containerlogin1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-container {
    width: 100%;
    max-width: 400px;
    background-color: #fff;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.login-form {
    display: flex;
    flex-direction: column;
}

.login-form h2 {
    text-align: center;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    margin-bottom: 8px;
    display: block;
    color: #777;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    transition: border-color 0.3s ease-in-out;
}
.form-group input:focus {
    border-color: #c71f00;
    outline: none;
}

button[type="submit"] {
    background-color: #0d21a1;
    color: white;
    border: none;
    padding: 12px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}
.forgot-password:hover {
    text-decoration: underline;
    color: #c71f00;
}
button[type="submit"]:hover {
    background-color: #c71f00;
}
.logo {
    width: 200px;
    height: auto;
    display: block;
    margin: 0 auto 20px;
}
/* @glowriousmou */